@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

::selection
	background-color: #000
	color: #fff

.text-center
	text-align: center

body
	background: url(https://i.pinimg.com/originals/d3/c4/05/d3c40593fa745755c523de424f56109b.gif)
	background-color: #000
	background-repeat: no-repeat
	background-size: cover

	color: #fffccc
.bg

h2
	color: #fff
	font-weight: 900
	font-size: 6vh
li
	list-style: decimal
a
	font-size: 3vh
	color: #fff
	margin-bottom: 4vh

@import "media" // Всегда в конце
